@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="card-deck">
@foreach (var post in ViewBag.Posts)
{
  <div class="card mb-3" style="max-width: 20rem;">
    <a asp-controller="PostDetials" asp-action="ViewDetails" class="btn stretched-link">
      <div class="card-body">
        <h5 class="card-title">@post.Description</h5>
      </div>
      <div class="card-footer d-flex">
        <p class="card-text">@post.priceRange()</p>
      </div>
    </a>
  </div>
}
</div>
</div>
