@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="card-deck">
@foreach (var post in ViewBag.Posts)
{
  <div class="card mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">@post.Description</h5>
    </div>
    <div class="card-footer d-flex">
      <p class="card-text">Location : @post.priceRange()</p>
    </div>
        @* <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@post.postId"><input class="btn btn-primary" type="button" value="View"/></a> *@
</div>
}
</div>
</div>
